In [1]:
import cudf as pd

In [2]:
# Загружаю датасет по депозитам

deposit_data = pd.read_csv('data/deposit_data.csv', index_col=0)

In [3]:
deposit_data = deposit_data.reset_index().drop('Unnamed: 0', axis=1)

In [4]:
deposit_data = deposit_data.drop('index', axis=1)

In [5]:
deposit_data.head()

,user_phone,campaign_cost,campaign_type_click,campaign_type_conversion,campaign_type_show,source_medium_android / mobile_app,source_medium_bing / organic,source_medium_email / email,source_medium_finance.rambler.ru / cpm,source_medium_google / organic,...,event_type_conversion,event_type_show,product_type_deposits,product_type_loan,product_type_mortgage,event_status_approve,event_status_deal,event_status_payout,event_status_reject,event_status_sale
0,79123364690,0.0,1,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
1,79108520894,0.0,0,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
2,79104979450,0.0,0,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
3,79101386075,0.0,0,0,1,0,0,0,0,0,...,0,3,1,2,0,0,0,0,0,0
4,79106677780,0.0,0,0,1,0,0,0,0,0,...,0,1,2,0,0,0,0,0,0,0

In [6]:
deposit_data.sort_values(by='campaign_type_conversion', ascending=False).head(5)

,user_phone,campaign_cost,campaign_type_click,campaign_type_conversion,campaign_type_show,source_medium_android / mobile_app,source_medium_bing / organic,source_medium_email / email,source_medium_finance.rambler.ru / cpm,source_medium_google / organic,...,event_type_conversion,event_type_show,product_type_deposits,product_type_loan,product_type_mortgage,event_status_approve,event_status_deal,event_status_payout,event_status_reject,event_status_sale
611084,79135447910,9943.1550,2,7,2,0,1,1,0,1,...,0,1,1,0,0,0,0,0,0,0
1140786,79174181594,11221.1600,2,7,2,0,0,1,0,2,...,0,2,1,1,0,0,0,0,0,0
287753,79102561133,3561.7000,2,6,2,1,0,1,0,0,...,0,2,1,2,0,0,0,0,0,0
334184,79109900812,1556.8000,2,6,2,0,1,2,0,1,...,0,1,1,0,0,0,0,0,0,0
457798,79107240504,3877.8921,2,6,2,0,0,1,0,2,...,0,1,2,0,0,0,0,0,0,0

In [7]:
deposit_data.columns

Index(['user_phone', 'campaign_cost', 'campaign_type_click',
       'campaign_type_conversion', 'campaign_type_show',
       'source_medium_android / mobile_app', 'source_medium_bing / organic',
       'source_medium_email / email', 'source_medium_finance.rambler.ru / cpm',
       'source_medium_google / organic', 'source_medium_ios / mobile_app',
       'source_medium_not-set / none', 'source_medium_pikabu.ru / cpm',
       'source_medium_regular / email', 'source_medium_regular / sms',
       'source_medium_ru.android.bankproduct / mobile_app',
       'source_medium_ru.android.bankproduct_rustore / mobile_app',
       'source_medium_trigger / sms', 'source_medium_vk / cpc',
       'source_medium_web.telegram.org / referral ',
       'source_medium_ya.ru / cpc', 'source_medium_yahoo / organic',
       'source_medium_yandex / cpc', 'source_medium_yandex / organic',
       'source_medium_zen.yandex.ru / cpm', 'interface_api', 'interface_app',
       'interface_web', 'payout', 'event_type_click', 'event_type_conversion',
       'event_type_show', 'product_type_deposits', 'product_type_loan',
       'product_type_mortgage', 'event_status_approve', 'event_status_deal',
       'event_status_payout', 'event_status_reject', 'event_status_sale'],
      dtype='object')