In [20]:
import dask.dataframe as dd
import pandas as pd
from huggingface_hub import hf_hub_download
import tqdm as notebook_tqdm
import matplotlib.pyplot as plt

# Исходные файлы загружены на ресурс https://huggingface.co/datasets
REPO_ID = "DmitriiMiptEdu/event_data"
adv = 'adv_data.csv'
event = 'event_data.csv'
users = 'users_data.csv'

In [21]:
# event_data = dd.read_csv(hf_hub_download(repo_id=REPO_ID, filename=event, repo_type="dataset"), low_memory=False,  blocksize=25e6, dtype={'event_status': 'object','user_phone': 'object'})
event_data = dd.read_csv(hf_hub_download(repo_id=REPO_ID, filename=event, repo_type="dataset"), low_memory=False,  dtype={'event_status': 'object','user_phone': 'object'})
adv_data = dd.read_csv(hf_hub_download(repo_id=REPO_ID, filename=adv, repo_type="dataset"), low_memory=False, )
users_data = dd.read_csv(hf_hub_download(repo_id=REPO_ID, filename=users, repo_type="dataset"),low_memory=False,  dtype={'registration_dtm': 'object', 'delete_dtm': 'object','user_phone': 'object'} )
print(f'\nevent_data.info():\n {event_data.info()}')
print(f'\n\nadv_data.info():\n {adv_data.info()}')
print(f'\n\nusers_data.info():\n {users_data.info()}')

<class 'dask_expr.DataFrame'>
Columns: 9 entries, id to product_type
dtypes: float64(1), string(8)
event_data.info():
 None
<class 'dask_expr.DataFrame'>
Columns: 9 entries, user_id to campaign_cost
dtypes: float64(1), string(8)

adv_data.info():
 None
<class 'dask_expr.DataFrame'>
Columns: 4 entries, user_phone to delete_dtm
dtypes: string(4)

users_data.info():
 None

In [22]:
event_data['user_phone'] = event_data['user_phone'].str.replace('+', '', regex=False)

event_data.head(20)

,id,user_phone,event_type,event_dtm,event_status,update_dtm,payout,currency,product_type
0,1263769bddda6eaaf7c8b8b22812ad6a063ad234d80782...,79140092454,show,2023-10-05 12:03:04.125806,NaN,NaN,NaN,RUB,mortgage
1,ae05865023d28ae72dd17955851263ead2d4daf11c69e0...,79125904946,show,2023-05-16 10:16:54.554523,NaN,NaN,NaN,RUB,loan
2,9861b00e9c9a99a6fdb2e5c11beebe9581eb1dda36ddc4...,79184556300,show,2023-12-23 22:46:44.066599,NaN,NaN,NaN,RUB,loan
3,349366af4823add107077299482f21031941fc6d4cd571...,79119287528,show,2023-07-30 05:25:46.285514,NaN,NaN,NaN,RUB,loan
4,2be2933460f58bb2d9a311ede6bb6ee064989568ab57b8...,79119287528,click,2023-07-30 05:25:46.285514,NaN,2023-07-30 05:42:59.014970,2.18,USD,loan
5,f22ca540ad7f36fa540a40b93254d4f4a4098db0e54b44...,79159249645,show,2023-08-23 20:38:20.004356,NaN,NaN,NaN,RUB,deposits
6,81e2b1545f71f464613168b2c0dddc9bfa86092120d843...,79120583792,show,2023-05-29 05:41:12.574617,NaN,NaN,NaN,RUB,loan
7,33ee92d770d2b36351fa5cef36710342c2d114ff146f85...,79168803865,show,2023-05-14 04:06:07.519296,NaN,NaN,NaN,RUB,deposits
8,7e60f1cf394c4cc9ec6408f567c99ff0f964d7a9fdf7f7...,79146940847,show,2024-02-01 16:57:06.006143,NaN,NaN,NaN,RUB,deposits
9,6b2ecdddedae517cc297d9b8801ba58dbe417068dbe4a7...,79111263094,show,2023-09-06 08:04:38.091411,NaN,NaN,NaN,RUB,deposits
10,a5683356e4a1ce9811882807fb66f5e9226e86bf6fbc0a...,79111263094,click,2023-09-06 08:04:38.091411,NaN,2023-09-06 08:12:56.733750,0.00,RUB,deposits
11,0670e597ba335d85ae6ffdd4a87b8af0add78e5af17b76...,79121310038,show,2023-04-01 19:09:50.052511,NaN,NaN,NaN,RUB,loan
12,eca4a81d867abf93aa4a0a9b351a59a52fc668446355f6...,79121310038,click,2023-04-01 19:09:50.052511,NaN,2023-04-01 19:12:31.352732,258.00,RUB,loan
13,60b396015d8df39d4f542b8a100cf5d89db4ea049a4cbb...,79107836392,show,2023-11-17 01:34:29.811639,NaN,NaN,NaN,USD,deposits
14,d4df8a70f28a21dc8ba926e3518bfe6c2954734a02c47d...,79142515945,show,2023-07-30 23:35:13.338316,NaN,NaN,NaN,RUB,loan
15,bd2115ce480ea97023050cd01f37e61dd5cf00a75dd163...,79102550909,show,2023-11-12 12:20:47.645345,NaN,NaN,NaN,RUB,deposits
16,6046cef83d323d32aeed1282ef7300e2760af5b7d51639...,79193335915,show,2023-08-01 12:42:02.456506,NaN,NaN,NaN,RUB,mortgage
17,dc85366458ca72f51ecff647040cb0ebb0bfd2f9369fc1...,79193335915,click,2023-08-01 12:42:02.456506,NaN,2023-08-01 12:48:49.097629,0.00,RUB,mortgage
18,961a3522547f94dbded6ce1278230175b9af56017dbe68...,79183191395,show,2024-01-29 04:20:08.699081,NaN,NaN,NaN,RUB,loan
19,337593f7516d2bbc8932b89f0851b153a2236acd7cf8ac...,79183191395,click,2024-01-29 04:20:08.699081,NaN,2024-01-29 04:41:02.825841,224.00,RUB,loan

In [23]:
users_data['user_phone'] = users_data['user_phone'].str.replace('+', '')
users_data.head()

,user_phone,user_id,registration_dtm,delete_dtm
0,79100004508,0000038524a303ed5876b823574848e0,2023-01-15 15:33:14.952938,NaN
1,79100005383,000003ef5bdfb2545c8d5ab693142e30,2022-11-21 22:43:54.418792,NaN
2,79100006444,0000056caffa28b60bf17bc69fe4366f,2022-12-23 03:00:04.088219,NaN
3,79100007221,00000a6f236f49c556e9a7b31d1b01e4,2022-12-23 03:31:50.935786,NaN
4,79100009619,00000cbd32277c99f2bd5e180a21f2b2,2023-01-25 14:31:17.234998,NaN

In [24]:
adv_data.head()

,user_id,campaign_type,campaign_start_dtm,campaign_end_dtm,source_medium,utm_campaign,interface,currency,campaign_cost
0,db00f9c699edacc50090172cfaa3b43a,show,2023-09-18 19:39:25.390618,2023-09-18 19:39:25.390618,finance.rambler.ru / cpm,rebrand_megamaket_reels,app,RUB,NaN
1,88aa22bca4fa1d6da73deb4b5c5ee8c0,show,2023-04-11 06:47:33.199369,2023-04-11 06:47:33.199369,yandex / organic,adv_retarget_brandkeys,web,RUB,NaN
2,e9e12347e50732804d2f8ded00743a07,show,2023-10-28 04:35:48.329870,2023-10-28 04:35:48.329870,yandex / organic,bk_light_brandkeys,web,RUB,NaN
3,fa0cd363d1978a27a078152cd263c670,show,2023-05-28 18:25:18.694051,2023-05-28 18:25:18.694051,yandex / organic,retarget_mind_response,api,RUB,NaN
4,fa0cd363d1978a27a078152cd263c670,click,2023-05-31 18:55:55.352680,2023-05-31 18:55:55.352680,regular / sms,light_clickarrow_clickarrow,api,USD,1.34

In [25]:
# Преобразование полей датасетов во временные метки
event_data['event_dtm'] = dd.to_datetime(event_data['event_dtm'])
event_data['update_dtm'] = dd.to_datetime(event_data['update_dtm'])
adv_data['campaign_start_dtm'] = dd.to_datetime(adv_data['campaign_start_dtm'])
adv_data['campaign_end_dtm'] = dd.to_datetime(adv_data['campaign_end_dtm'])
users_data['registration_dtm'] = dd.to_datetime(users_data['registration_dtm'])
users_data['delete_dtm'] = dd.to_datetime(users_data['delete_dtm'])

In [32]:
event_data.compute()

,id,user_phone,event_type,event_dtm,event_status,update_dtm,payout,currency,product_type
0,1263769bddda6eaaf7c8b8b22812ad6a063ad234d80782...,79140092454,show,2023-10-05 12:03:04.125806,NaN,NaT,NaN,RUB,mortgage
1,ae05865023d28ae72dd17955851263ead2d4daf11c69e0...,79125904946,show,2023-05-16 10:16:54.554523,NaN,NaT,NaN,RUB,loan
2,9861b00e9c9a99a6fdb2e5c11beebe9581eb1dda36ddc4...,79184556300,show,2023-12-23 22:46:44.066599,NaN,NaT,NaN,RUB,loan
3,349366af4823add107077299482f21031941fc6d4cd571...,79119287528,show,2023-07-30 05:25:46.285514,NaN,NaT,NaN,RUB,loan
4,2be2933460f58bb2d9a311ede6bb6ee064989568ab57b8...,79119287528,click,2023-07-30 05:25:46.285514,NaN,2023-07-30 05:42:59.014970,2.18,USD,loan
...,...,...,...,...,...,...,...,...,...
499968,5a8fc7ddcf726cd7abf21b6d27a76faa20abb9e74fb3cc...,79127118227,show,2023-11-14 15:48:21.377362,NaN,NaT,NaN,RUB,mortgage
499969,e6b7fa236dfd3d31983d81552eed72bac322aacd6517fe...,79124063664,show,2023-05-13 07:32:01.424318,NaN,NaT,NaN,RUB,loan
499970,73fa468e8552c3d27b123256e3c583ebe33472534d732d...,79170525726,show,2023-06-30 18:28:49.295919,NaN,NaT,NaN,RUB,mortgage
499971,a08a6b298ec487c02ca3466112a494954f688e3f0669e2...,79143941135,show,2023-07-07 08:58:40.684829,NaN,NaT,NaN,RUB,mortgage
499972,b790cc888306a8365a6ab8f3ac7e09d3314ceb0116ae65...,79108734806,show,2023-02-13 23:34:02.408035,NaN,NaT,NaN,RUB,deposits

In [ ]:
event_data.info()

In [33]:
# Объединение users_data и event_data
merged_data = event_data.merge(users_data, on='user_phone', how='right').compute()

In [34]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10009731 entries, 0 to 499935
Data columns (total 12 columns):
 #   Column            Dtype
---  ------            -----
 0   id                object
 1   user_phone        object
 2   event_type        object
 3   event_dtm         datetime64[ns]
 4   event_status      object
 5   update_dtm        datetime64[ns]
 6   payout            float64
 7   currency          object
 8   product_type      object
 9   user_id           object
 10  registration_dtm  datetime64[ns]
 11  delete_dtm        datetime64[ns]
dtypes: datetime64[ns](4), float64(1), object(7)
memory usage: 992.8+ MB

In [16]:
merged_data.head(10)

,id,user_phone,event_type,event_dtm,event_status,update_dtm,payout,currency_x,product_type,user_id,registration_dtm,delete_dtm,campaign_type,campaign_start_dtm,campaign_end_dtm,source_medium,utm_campaign,interface,currency_y,campaign_cost
4296567,f3d70cc9c1a0e6024bb8a6932d6cf13cc087818a49e470...,79100000015,show,2023-04-21 04:25:03.775939,NaN,NaT,NaN,RUB,loan,NaN,NaT,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
3433033,6c07ec4d6011e7585d721e7161b353727ee7a7ef91b36a...,79100000044,show,2023-03-27 00:46:11.341816,NaN,NaT,NaN,RUB,loan,NaN,NaT,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
3433034,b19665e8baa9cb4380cedb19e5f7fd4a133dfe219d5f72...,79100000044,click,2023-03-27 00:46:11.341816,NaN,2023-03-27 00:57:18.382909,0.0,RUB,loan,NaN,NaT,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
1509817,b36b86fcdf9fa1bf44d9757a2d762106379e90a4873c85...,79100000064,show,2023-12-02 04:28:23.773632,NaN,NaT,NaN,RUB,loan,NaN,NaT,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
1509818,38da8550dd1a284ceb27775e28ecf19cc2c08a419e50e8...,79100000064,click,2023-12-02 04:28:23.773632,NaN,2023-12-02 04:43:18.888458,0.0,RUB,loan,NaN,NaT,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
6755748,98faaeafa6781bc157295f679a98e983918832fc45668a...,79100000069,show,2023-04-14 12:38:04.142221,NaN,NaT,NaN,RUB,mortgage,NaN,NaT,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
3465232,1800e7b8be336d9d7fd40a7135801733b69dacc79428c4...,79100000083,show,2023-10-03 02:57:48.845910,NaN,NaT,NaN,RUB,mortgage,NaN,NaT,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
7028887,4b2e9e657d6ef00d928748480397e350aa3c04f31046ff...,79100000088,show,2023-03-15 18:18:22.601843,NaN,NaT,NaN,RUB,deposits,NaN,NaT,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
3662251,2f20d1af8ec0943399a6fa75b0de8bd7e5c3900e21ab0d...,79100000093,show,2023-12-08 04:38:51.680130,NaN,NaT,NaN,RUB,deposits,NaN,NaT,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
7227635,98552848796ff55c715deccd9b16fcacecb0a2377d537d...,79100000107,show,2023-12-21 04:19:59.675974,NaN,NaT,NaN,RUB,mortgage,NaN,NaT,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN

In [8]:

# Объединение с adv_data
merged_data = dd.merge(merged_data, adv_data, on='user_id', how='left')

In [34]:
merged_data.head(10)

,id,user_phone,event_type,event_dtm,event_status,update_dtm,payout,currency_x,product_type,user_id,registration_dtm,delete_dtm,campaign_type,campaign_start_dtm,campaign_end_dtm,source_medium,utm_campaign,interface,currency_y,campaign_cost
0,db2d3fb233f1a9dc8076bce0f7f7eb500a68f2e4328f05...,+79162021850,show,2024-01-03 21:10:11.133388,NaN,NaT,NaN,RUB,loan,9f839cfdf98473552f7d54be71817dea,2023-05-01 14:33:20.049524,NaT,show,2023-07-30 17:52:54.059633,2023-07-30 17:52:54.059633,yandex / organic,target_client_rebrand,app,RUB,NaN
1,1ed7b0f97e76477ac4920fe9f4f255e006c89228686690...,+79162021850,click,2024-01-03 21:10:11.133388,NaN,2024-01-03 21:17:48.178325,0.0,RUB,loan,9f839cfdf98473552f7d54be71817dea,2023-05-01 14:33:20.049524,NaT,show,2023-07-30 17:52:54.059633,2023-07-30 17:52:54.059633,yandex / organic,target_client_rebrand,app,RUB,NaN
2,c91d37836d8a5884eeb3b7a1ea77b864a76ad1fedd0591...,+79148227089,show,2023-02-28 03:34:31.492589,NaN,NaT,NaN,RUB,mortgage,7c6a806f145ba76cdcb1fec6b3b202f3,2022-11-18 12:36:05.213179,NaT,show,2023-06-21 10:21:50.755443,2023-06-21 10:21:50.755443,ios / mobile_app,light_market_adv,app,RUB,NaN
3,e9fdb7d5b88253427e159579c53e080c7f8a27f5f6b02e...,+79157796431,show,2023-04-16 06:26:18.296362,NaN,NaT,NaN,RUB,loan,94c3497d3909ee256f6aa01005c6a21f,2022-12-06 13:20:25.968799,NaT,show,2023-09-28 11:42:50.921042,2023-09-28 11:42:50.921042,google / organic,clickarrow_adv_clickarrow,app,RUB,NaN
4,e9fdb7d5b88253427e159579c53e080c7f8a27f5f6b02e...,+79157796431,show,2023-04-16 06:26:18.296362,NaN,NaT,NaN,RUB,loan,94c3497d3909ee256f6aa01005c6a21f,2022-12-06 13:20:25.968799,NaT,click,2023-11-26 00:40:58.413915,2023-11-26 00:40:58.413915,yandex / organic,mind_bk_client,web,RUB,0.0
5,6a4de0e4553bab1a743e0df48f572105f7b520a5055a2f...,+79168865804,show,2023-03-01 06:22:43.940051,NaN,NaT,NaN,RUB,loan,b0dec61e1a92f2d728b4fb09096ed132,2022-08-29 00:55:03.467320,NaT,show,2022-12-13 19:43:10.802567,2022-12-13 19:43:10.802567,yandex / organic,market_retarget_case,app,RUB,NaN
6,6a4de0e4553bab1a743e0df48f572105f7b520a5055a2f...,+79168865804,show,2023-03-01 06:22:43.940051,NaN,NaT,NaN,RUB,loan,b0dec61e1a92f2d728b4fb09096ed132,2022-08-29 00:55:03.467320,NaT,click,2023-01-25 06:42:41.672197,2023-01-25 06:42:41.672197,yandex / cpc,light_case_reels,app,RUB,0.0
7,a7c42af8a80ce5b364bcd7963492caeacbe8faf2d9101a...,+79128114885,show,2023-07-13 07:47:54.033235,NaN,NaT,NaN,RUB,mortgage,493b8d37c80db36eec1a5b24e0d29170,2023-07-01 23:08:24.270742,NaT,show,2023-09-01 12:27:02.810640,2023-09-01 12:27:02.810640,google / organic,rebrand_market_bk,web,RUB,NaN
8,634460106c688ed12d9ce5508a9582cb411c9ef342c9cb...,+79100674773,show,2023-06-09 02:18:41.735490,NaN,NaT,NaN,RUB,loan,0371763d0902c11970bf60d8b422c873,2023-03-25 02:21:30.148443,NaT,show,2023-05-08 14:30:00.306183,2023-05-08 14:30:00.306183,yandex / cpc,light_client_mind,app,USD,NaN
9,634460106c688ed12d9ce5508a9582cb411c9ef342c9cb...,+79100674773,show,2023-06-09 02:18:41.735490,NaN,NaT,NaN,RUB,loan,0371763d0902c11970bf60d8b422c873,2023-03-25 02:21:30.148443,NaT,click,2023-05-11 18:37:58.644710,2023-05-11 18:37:58.644710,yandex / cpc,operator_client_title,api,RUB,0.0

In [9]:
# Анализ событий пользователей
# Сортировка событий по пользователям и времени
merged_data = merged_data.sort_values(by=['user_phone', 'event_dtm'])

In [10]:
# Идентификация конверсий
conversions = merged_data[merged_data['event_status'] == 'success']

In [11]:
# Преобразование в pandas DataFrame для дальнейшей обработки
merged_data_pd = conversions.compute()

In [15]:
merged_data_pd.head()

Empty DataFrame
Columns: [id, user_phone, event_type, event_dtm, event_status, update_dtm, payout, currency_x, product_type, user_id, registration_dtm, delete_dtm, campaign_type, campaign_start_dtm, campaign_end_dtm, source_medium, utm_campaign, interface, currency_y, campaign_cost]
Index: []

# Разработка модели атрибуции

In [14]:
# Реализация модели линейной атрибуции
def linear_attribution(events):
    n = len(events)
    attribution = 1.0 / n
    events['attribution'] = attribution
    return events

# Применение линейной модели атрибуции
#attributed_data = merged_data_pd.groupby('user_phone', group_keys=False).apply(linear_attribution).reset_index(drop=True)
attributed_data = merged_data_pd.groupby('user_phone', group_keys=False).apply(lambda x: linear_attribution(x)).reset_index(drop=True)

/tmp/ipykernel_1450/3458240431.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  attributed_data = merged_data_pd.groupby('user_phone', group_keys=False).apply(lambda x: linear_attribution(x)).reset_index(drop=True)

In [44]:
attributed_data.head()

# Визуализация результатов

In [ ]:
# Сбор данных для визуализации
source_attribution = attributed_data.groupby('source_medium')['attribution'].sum().compute()
print(source_attribution)

# Визуализация результатов
source_attribution_pd = source_attribution.compute()

# Пример простой визуализации распределения атрибуции
source_attribution_pd.plot(kind='bar')
plt.title('Атрибуция по источникам трафика')
plt.xlabel('Источник')
plt.ylabel('Атрибуция')
plt.show()